<template name="OPagination">
  {{> paginationControls data}}
  {{> Template.dynamic template=template data=data }}
  {{> paginationControls data}}
</template>

<template name="paginationControls">
  <div class="pageNos">
    {{#if prev}}
      <button class="prev">-</button>
    {{/if}}

    {{#each rangeMin}}
      {{> paginationNumber no=this}}
    {{/each}}
    {{> paginationNumber no=pageNo}}
    {{#each rangeMax}}
      {{> paginationNumber no=this}}
    {{/each}}

    {{#if next}}
      <button class="next">+</button>
    {{/if}}
  </div>
</template>

<template name="paginationNumber">
  <button class="pageNo">{{no}}</button>
</template>
